body {
background-color: #0892cf;
font-family: 'Luckiest Guy', cursive;
color:white;

}

.row-ht-l {
height:75px;

}

.jumbo-color {
background-color: #221c64;
}


#wordText  {

font-size:42px;
}

#guessText,#guessAlert, #guessesLeft,#winsText,#wordCat,#wordHint, .left-text, .right-text {
font-size:32px;
}
